// Header
$nav-padding-px: 10px;

// Font Size
// Mobil
$mobil-functional-font-size: 12px;
$mobil-body-font-size: 16px;
$mobil-display-font-size: 32px;
// Desktop
$desktop-functional-font-size: 16px;
$desktop-body-font-size: 24px;
$desktop-display-font-size: 64px;

// Colors
$green-contrast-navbar: #6abd6f;
$yellow-contrast-navbar: #f5e050;
$red-contrast-navbar: #f16060;
$color-navbar: #708090;

$btn-background-color: #ff8c00;
$btn-hover-background-color: #e67300;

%container {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
}

%btn {
  cursor: pointer;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  min-width: 100px;

  &:hover {
    scale: 0.9;
  }

  @include desktop() {
    min-width: 100px;
    font-size: 24px;
  }
}

%input {
  min-height: 30px;
  padding: 5px;
  margin: 2.5px;
  border-radius: 4px;
  border: 1px solid;

  @include desktop() {
  }
}
