@import "./mixins";
@import "./vars";

.form-title {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #dfdfe8;
}

.add-habit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    @extend %btn;
    margin: 5px;
  }

  input {
    @extend %input;

    border-radius: 4px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .date-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    .date-input {
      padding: 10px;
    }
  }

  .habits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;

    .habit-placeholder {
      text-align: center;
      display: inline-block;
      min-width: 100px;
    }

    .checkbox-input {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover {
        scale: 0.9;
      }
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #dfdfe8;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .err-message {
    color: lightcoral;
  }
}

@include desktop() {
  .add-form {
    font-size: 24px;
  }

  .add-habit-form {
    font-size: 24px;

    .habits-section {
      .habit-placeholder {
        text-align: center;
        display: inline-block;
        min-width: 200px;
      }
      .checkbox-input {
        width: 25px;
        height: 25px;
      }
    }
  }
}
