@import "./mixins";
@import "./vars";

.calendar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .change_date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    border-radius: 5px;

    .change_date_btn_container {
      display: flex;

      .change_date_btn {
        margin: 0 10px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background: $grey_two;
        }
      }
    }

    .current_date {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
  }

  .calendar_table_container {
    display: flex;
    flex-direction: column;

    .row_container {
      display: flex;
      align-items: center;
    }

    .row_cell {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .data_logged {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    &.success {
      background-color: #6abd6f;
    }

    &.inprogress {
      background-color: #f5e050;
    }

    &.nexttimeyouwilldobetter {
      background-color: #f16060;
    }
  }
}
