.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .change-date-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .change-date-btn-container {
      display: flex;

      .change-date-btn {
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: lightgray;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }

    .current-date {
      min-width: 200px;
      text-align: center;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th {
    text-align: center;
    padding: 3px;
    min-width: 40px;
    height: 40px;
  }

  td {
    text-align: center;
    vertical-align: center;
    padding: 3px;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: lightgray;
      transition: background-color 0.3s ease-in-out;
    }
  }

  .data-logged {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    &.success {
      background-color: #6abd6f;
    }

    &.inprogress {
      background-color: #f5e050;
    }

    &.nexttimeyouwilldobetter {
      background-color: #f16060;
    }
  }
}
