@import "./mixins";
@import "./vars";

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px 0px 0px 0px;

  .info-section {
    text-align: center;
    display: flex;
    margin: 5px;
    padding: 2.5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }

  ul {
    list-style: none;
  }

  .right-section {
    display: inline-block;

    width: 140px;
  }
  .left-section {
    display: inline-block;
    width: 140px;
  }

  .habit-tag {
    font-weight: normal;
    font-size: 16px;
  }

  div {
    text-align: center;
  }

  .edit-container {
    text-decoration: underline;
    color: black;
    padding: 20px 0;
    background-color: transparent;

    a:link {
      text-decoration: none;
      color: black;
    }

    a:visited {
      text-decoration: none;
      color: black;
    }
  }
}

@include desktop() {
  .information-container {
    font-size: 20px;

    .habit-tag {
      font-size: 20px;
    }

    .right-section {
      min-width: 200px;
    }
    .left-section {
      min-width: 200px;
    }
  }
}
