@import "./mixins";
@import "./vars";

.myprogress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  button {
    @extend %btn;
    margin-top: 50px;
    margin-bottom: 50px;
    .btn-link {
      text-decoration: none;
      color: white;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfe8;
    padding: 20px 0;

    h1 {
      padding-bottom: 20px;
    }
  }
}

@include desktop() {
  .myprogress-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    section {
      width: 50%;
      min-height: 50vh;
      padding: 50px 0;
    }
  }
}
