@import "./mixins";
@import "./vars";

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;

  padding-bottom: 20px;

  .page-title {
    padding: 20px 0;
  }

  .table-container {
    border-top: 1px solid #dfdfe8;
    padding: 20px 0;
  }
}

@include desktop() {
  .leaderboard-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .page-title {
      width: 100%;
    }

    .table-container {
      padding: 20px 0 0 0;
      width: 50%;
      min-height: 50vh;
    }
  }
}
