@import "./mixins";
@import "./vars";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %container;

  &.logged {
    border: none;
    box-shadow: none;
  }

  .switch-btn-func {
    background-color: white;
    font-size: 12px;
    border: none;
    text-decoration: underline;
  }

  .logged-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include desktop() {
  .form-container {
    font-size: 24px;
    width: 70vw;
    margin: 10px auto 0 auto;

    .switch-btn-func {
      font-size: 16px;
    }
  }
}
