@import "./mixins";
@import "./vars";

.auth-login-form {
  @extend %container;
  text-align: center;

  div {
    padding: 5px;
    label {
      display: block;
      padding: 2.5px;
    }
    input {
      border-radius: 4px;
      padding: 2px;
      border: 1px solid;
    }
  }

  button {
    @extend %btn;
  }

  .switch-btn-func {
    background-color: white;
    font-size: 12px;
    border: none;
    text-decoration: underline;
  }
}

@include desktop() {
  .auth-login-form {
    font-size: 24px;
    width: 70vw;
    margin: 10px auto 0 auto;

    input {
      height: 24px;
    }

    button {
      font-size: 24px;
    }

    .switch-btn-func {
      font-size: 16px;
    }
  }
}
