@import "./mixins";
@import "./vars";

.auth-login-form {
  text-align: center;

  div {
    padding: 5px;
    label {
      display: block;
      padding: 2.5px;
    }
  }

  button {
    @extend %btn;
  }

  input {
    @extend %input;
  }

  .err-message {
    color: lightcoral;
  }
}

@include desktop() {
  .auth-login-form {
    font-size: 24px;
    width: 70vw;
    margin: 10px auto 0 auto;
  }
}
