@import "./mixins";
@import "./vars";

.header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: lightblue;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;

  div {
    font-weight: bold;
    padding: $nav-padding-px;
  }

  ul {
    display: block;
    list-style: none;
  }

  li {
    padding: $nav-padding-px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .active {
    color: white;
  }
}

.linksHeader {
  color: black;
  text-decoration: none;
}

@include desktop() {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding: 10px;

    ul {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}
