@import "./mixins";
@import "./vars";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #708090;
  color: #d3d3d3;
  z-index: 999;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;

  div {
    font-weight: bold;
    padding: $nav-padding-px;
  }

  ul {
    display: block;
    list-style: none;
  }

  li {
    padding: $nav-padding-px;
  }

  a {
    color: #d3d3d3;
    text-decoration: none;
    font-weight: bold;
  }

  h2 {
    display: inline-block;
    margin-top: 10px;
  }

  .active {
    color: white;
  }
}

.linksHeader {
  color: black;
  text-decoration: none;
}

@include desktop() {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #708090;

    nav {
      margin-right: 20px;
    }

    h2 {
      margin-top: 0;
    }

    ul {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}

@include tablet() {
  .header {
    font-size: 16px;
  }
}
