@import "./mixins";
@import "./vars";

.terms-container {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .main-button {
    @extend %btn;
  }
}
