@import "./mixins";
@import "./vars";

.add-habit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;

  span {
    display: block;
    font-size: 30px;
  }

  button {
    @extend %btn;
    display: inline-block;
    margin: 2.5px;
  }

  input {
    @extend %input;
    min-width: 250px;
  }
}

@include desktop() {
  .add-habit-form {
    font-size: 24px;
  }
}
