@import "./mixins";
@import "./vars";

.add-habit-form {
  display: block;
  text-align: center;

  span {
    display: block;
    font-size: 30px;
  }

  button {
    @extend %btn;
    display: inline-block;
    margin: 2.5px;
  }

  input {
    @extend %input;
  }
}

@include desktop() {
  .add-habit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 24px;
  }
}
