@import "./mixins";
@import "./vars";

.initial-message-container {
  max-width: 500px;
  //   height: 300px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    margin-bottom: 10px;
    text-align: center;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    .main-button {
      @extend %btn;
      font-size: 18px;
      padding: 10px;
    }
  }
}
