@import "./mixins";
@import "./vars";

.form-title {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #dfdfe8;
}

.add-habit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  button {
    @extend %btn;
    margin: 5px;
  }

  .date-placeholder {
    padding-top: 20px;
  }

  .habits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    .habit-placeholder {
      text-align: center;
      display: inline-block;
      min-width: 100px;
      padding-right: 10px;
    }

    .checkbox-input {
      width: 20px;
      height: 20px;
    }

    h2 {
      padding-bottom: 20px;
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #dfdfe8;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

@include desktop() {
  .modify-form {
    font-size: 24px;
  }
  .add-habit-form {
    font-size: 24px;

    .habits-section {
      .habit-placeholder {
        min-width: 150px;
      }
      .checkbox-input {
        width: 20px;
        height: 20px;
        &:hover {
          scale: 0.9;
        }
      }
    }

    .date-input {
      min-width: 150px;
      padding: 10px;
    }
  }
}
