.user-progess-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .user-name {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfe8;
  }

  section {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfe8;
  }

  .back-btn {
    background-color: white;
    font-size: 12px;
    border: none;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
    color: black;
    padding: 40px 0;
  }

  .graph-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding: 0 0 20px 0;
    }
  }
}
