@import "./mixins";
@import "./vars";

.forgot-pasword-container {
  @extend %container;

  .forms-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      padding: 20px 0;
    }
    form {
      padding: 20px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 1em 0;
    }
  }

  .err-message {
    color: lightcoral;
  }

  .success {
    color: $green-contrast-navbar;
  }

  .back-btn {
    background-color: white;
    font-size: 12px;
    border: none;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
    color: black;
  }

  form {
    button {
      @extend %btn;
    }

    input {
      @extend %input;
    }
  }
}

@include desktop() {
  .forgot-pasword-container {
    font-size: 24px;
    width: 70vw;
    margin: 10px auto 0 auto;

    .back-btn {
      font-size: 16px;
    }
  }
}
