@import "./mixins";
@import "./vars";

.profile-container {
  @extend %container;
  display: block;
  text-align: center;

  button {
    @extend %btn;
    display: inline-block;
    margin: 2.5px;
  }

  input {
    @extend %input;
  }
  .name-container {
    margin: 20px;
  }

  .habits-container {
    margin: 20px;

    ul {
      list-style: none;
      text-align: center;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 30px;
      }
    }
  }

  .btn-container {
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .field-placeholder {
    margin-bottom: 10px;
  }
}

@include desktop() {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    .name-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .habits-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
