@import "./mixins";
@import "./vars";

.profile-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    border-bottom: 1px solid #dfdfe8;
    padding: 20px;
  }

  .err-message {
    color: lightcoral;
  }

  .name-container {
    border-bottom: 1px solid #dfdfe8;
    padding: 20px;
  }

  .habits-container {
    border-bottom: 1px solid #dfdfe8;
    padding: 20px;

    ul {
      list-style: none;
      text-align: center;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 30px;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dfdfe8;
    padding: 20px;
  }

  .field-placeholder {
    margin-bottom: 10px;
  }

  button {
    @extend %btn;
    margin: 5px 10px;
  }

  input {
    @extend %input;
  }
}

@include desktop() {
  .profile-container {
    font-size: 24px;
  }
}
