.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-table {
    border-collapse: collapse;
    scale: 1;
    transition: scale 0.2s ease-in;

    &:hover {
      transition: scale 0.3s ease-in-out;
      scale: 1.05;
    }

    th,
    td {
      width: 65px;
      padding: 5px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    th {
      background-color: #f0f0f5;
    }

    .sub-table-header {
      background-color: #f0f0f5;
      font-weight: bold;
    }
  }
}
